{% extends 'user/user_base.html' %}

{% block content %}
<center>
<div class="bs-docs-example wow fadeInUp animated" data-wow-delay=".5s">
    <form action="" method="post">
        {% csrf_token %}
       
    </form>
    {% if data %}
    <table class="table">
        <tr>
            <td>ID</td><td>Name</td><td>DISCRIB</td><td>Application</td><td>DATE OF POST</td><td>END DATE</td>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td> <td>{{d.1}}</td> <td>{{d.2}}</td><td><a href="{{d.3}}">DOWNLOAD</a></td> <td>{{d.4}}</td> <td>{{d.5}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</center>
{% endblock %}